
[role="main"] {
	overflow: hidden;
}

.span-1-2 {
	background: white;
	float: left;
}

.list > li {
	margin-top: 20px;
}

.list > li:after {
	content: '';
	display: table;
	clear: both;
}

.purple {
	color: #97DA00;
}

.orange {
	color: #CF0211;
}

.list h2 {;
	color: #97DA00;
}

.tags h2 {
	color: #CF0211;
}

.tags ol li:before {
	content: '<';
}
.tags ol li:after {
	content: '>';
}

.list h2 {
	margin-top: 0;
	font-size: 3em;
	height: 60px;
	width: 60px;
	float: left;
}
.list ol {
	width: 80%;
	float: left;
}
.list ol:after {
	content: '';
	display: table;
	clear: both;
}

li {
	list-style: none;
}