---
layout: default
sitemap:
  changefreq: weekly
css: "/css/post/midwestjs1.css"
---

<div id="home" role="main">
	{% assign post = site.posts.first %}
	{% assign content = post.content %}

	{% if page.previous.url %}

	{% endif %}
	<article class="post">
		<p class="time">Published <time class="meta" datetime="{{ post.date }}">{{ post.date | date_to_string }}</time> by{% if post.author %} post.author {% else %} Timothy Miller {% endif %}</p>
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		{{ content }}
		{% if post.hasComments %}
		<p><a href="{{ post.url }}#comments">See comments</a></p>
		{% endif %}
	</article>
</div>
